/*
CSS FOR OVERALL LOOK OF WEBSITE
 */
body {
    background-color: #e5f4e3;
    display: flex;
    flex-direction: column;
}
#header_image {
    width:118px;
    height:95px;
}
.header {
    text-align: center;
    background-color:#3da45e;
    color:#f1e1b7;
    font-family:"Times New Roman", "Courier New", monospace;
    font-weight:bold;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size:40px;
    border:5px solid #e9a400;
    border-radius:20px;
}

.sub_header {
    color:white;
    text-align:left;
    font-size:25px;
    margin-left:10px;
    font-weight:bold;
    margin-top: 10px;
    padding-top: 0;

}

.banner {
    display:flex;
    background-color:#78b56e;
    max-width:620px;
    align-items: center;
    gap: 20px;
    max-height:95px;
}

/*
CSS FOR THE NAVIGATION MENU
 */
.nav_button {
    background-color:#e5f4e3;
    border: 2px solid #e9a400;
    border-radius:40px;
    color:black;
    font-weight:bold;
    font-family:"Times New Roman", "Courier New", monospace;
    font-size:18px;
    padding-left:10px;
    padding-right:10px;
    margin-left:10px;
    margin-right:10px;
    text-decoration: none;
    cursor: pointer;
}
.nav-btn:hover {
    background-color: white;
    color: #e9a400;
}

.navbar {
    background-color:#3c5a28;
    padding:5px;
    align-items: center;
    border: 3px solid #e9a400;
    margin-top: 10px;
}

/*
CSS FOR THE FOOTER
 */
.banner {
    display:flex;
    background-color:#78b56e;
    max-width:620px;
    align-items: center;
    gap: 20px;
    max-height:95px;
}

.footer {
    text-align: left;
    background-color:#3da45e;
    color:#f1e1b7;
    font-family:"Times New Roman", "Courier New", monospace;
    font-weight:bold;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left:20px;
    font-size:30px;
    border:5px solid #e9a400;
    border-radius:20px;
}

.sub_footer {
    color:white;
    text-align:left;
    font-size:20px;
    max-width: 500px;
    font-weight:bold;
    padding:20px;
}

/*
CSS FOR THE IFRAME
*/


section {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

iframe[name="main-display"] {
    width: 100%;

    border: none;
    overflow: hidden;
    display: block;


}

iframe::-webkit-scrollbar {
    display: none;
}

.iframe_section {
    border: 3px #78d56e solid;
    background-color:#78b56e;
    padding-left:10px;
    padding-right:10px;
}

/*
CSS FOR THE DROP BUTTON
 */

.drop_button {
    background-color:#e5f4e3;
    border: 2px solid #e9a400;
    border-radius:40px;
    color:black;
    font-weight:bold;
    font-family:"Times New Roman", "Courier New", monospace;
    font-size:18px;
    padding-left:10px;
    margin-top: 5px;
    padding-right:10px;
    text-decoration: none;
    cursor: pointer;

}

/*
Voor goud gebruik #e9a400 of #f4c300
 */

.iframe{
    min-width: 800px;
    max-width: 2560px;
    min-height: 2000px;
}

.bold{
    sty
}
.dropdown {
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
    margin-left: 10px;
  background-color: transparent;
  max-width: 140px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {
    background-color: #78b56e;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.contact {
    text-align: center;
    background-color:#3da45e;
    color:#f1e1b7;
    font-family:"Times New Roman", "Courier New", monospace;
    font-weight:bold;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size:40px;
    border:5px solid #e9a400;
    border-radius:20px;
}

.home-boxes {
    text-align: left;
    background-color: #bce5b5;
    color:#3c5a28;
    font-family:"Times New Roman", "Courier New", monospace;
    font-weight:bold;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    font-size:24px;
    border:5px solid #e9a400;
    border-radius:20px;
}

.welcome{
    min-width: 150px;
    max-width: 1500px;
    flex-shrink: 2;
}

.sidetoside{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;

}

.extra_q{
    max-width: 2520px;
}

.phylotree{
    max-width: 100%;
    min-width: 10%;
    height: auto;
}
