{% extends "main.html" %}

{% block content %}
<div class="home-boxes">
        <h1 class="title">
            Contact
        </h1>
        <p class="small_text">
            For any further questions, feel free to email any of the following contributors:
        </p>
        <div class="sub_footer">
            <a href="mailto:dennismkuiper@outlook.com">Dennis Kuiper</a><br>
            <a href="mailto:kindsfabian@ziggo.nl">Fabian Kinds</a><br>
            <a href="mailto:tristankruithof19@gmail.com">Tristan Kruithof</a><br>
        </div>
</div>
{% endblock %}
