{% extends "main.html" %}

{% block content %}
    {% if login_status %}
<div class="home-boxes">
    <h1 class="title">
        Create
    </h1>





        {% if tree_image %}
            {% if new_image %}
                <p class="black_text">
                <span class="important">
                    New tree
                </span>

                </p>
            {% else  %}
                <p class="black_text">
                Previous tree
                </p>
            {% endif %}
                <img src="{{ url_for('static', filename="pipeline_output/" + tree_image) }}" class="tool_image bigger" alt="phylogenetic tree" id="imgbox"><br>
        {% endif %}

            <form id="organism" method="POST" action="#species">
                <div class="black_text">
                    <label for="input_method">Method of input</label>
                    <select id="input_method">
                        <option value="common">Common names</option>
                        <option value="fasta">Multi-fasta</option>
                    </select>
                </div>
                {% if input_method %}
                <label for="species" class="black_text">Fill in your organisms!</label><br>
                <input type="text" id="species" class="form-control" name="species" placeholder="Organism" required>
                {% endif %}
            </form>
            <form method="POST" action="#add" id="empty_form">
            </form>

            {% if input_method %}
                <div class="side_to_side">
                <button type="submit" name="add" class="nav_button page_button" form="organism" id="add">Add</button>
                    <button type="submit" name="delete_org" class="nav_button page_button" form="empty_form">Del org</button>
                <button type="submit" name="delete_all" class="nav_button page_button" form="empty_form">Del all</button>
                </div>
            {% endif %}


            {% if organism_list %}
                <div class="p_top">
                <span class="title">Species |</span>
                    <ul class="black_text">
                        {% for species_name in organism_list %}
                            <li>{{ species_name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <button type="submit" name="create" class="nav_button page_button" form="empty_form">Create</button><br>
            {% endif %}
    <br>
</div>
        {% else %}
        <div class="home-boxes">
            <p>
            Can only be used when logged in!
            </p>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}

{% endblock %}
