{% extends "main.html" %}

{% block content %}

<div class="home-boxes">
    {% if active_thread %}
        <div class="center_y">
            <div class="spinner"></div>
            <p class="spinner_text">
            Please wait...
            </p>
        </div>

        <meta http-equiv="refresh" content="6">
    {% else %}
        {% if user["active"] %}
            <h1 class="title">
                Create
            </h1><br>

            {% if image_exists %}

                {% if new_image %}
                    <p class="black_text important red">
                        New tree
                    </p>
                {% else  %}
                    <p class="black_text important green">
                        Previous tree
                    </p>
                {% endif %}
                <div class="image_box">
                    <a href="{{ url_for('static', filename='pipeline_output/' + email + '_tree.png') }}" download="phylogenetic tree">
                        <img src="{{ url_for('static', filename='pipeline_output/' + email + '_tree.png') }}" class="tool_image bigger" alt="phylogenetic tree" id="imgbox">
                    </a>
                    <br>
                    <p>
                        Click to download!
                    </p>
                </div>
                <form action="" method="POST" class="black_text small_text" enctype="multipart/form-data">
                    <button  type="submit" name="save" class="nav_button page_button">Save as</button>
                    <label for="tree_name"></label>
                    <input id="tree_name" class="input_box" name="tree_name" type="text" maxlength="30" placeholder="name" required><br><br>
                </form>
            {% endif %}
            <form id="organism" method="POST" action="#species" class="black_text small_text" enctype="multipart/form-data">
                <div>
                    <label for="input_method">Method of input</label><br>
                    <select id="input_method" name="input_method" form="organism">
                        <option value="common" {% if input_method == "common" %}selected{% endif %}>Common names</option>
                        <option value="fasta" {% if input_method == "fasta" %}selected{% endif %}>Multi-fasta</option>
                    </select>
                </div>

                <div id="input_fasta" class="p_top p_left" style="display: none">
                    <label for="multi_fasta_file" class="black_text small_text">Select fasta file</label><br>
                    <input class="input_box file_input" type="file" id="multi_fasta_file" name="multi_fasta_file" accept=".fasta, .fa, .fna .faa" placeholder="Multi-fasta" ><br><br>
                    <button type="submit" name="create" class="nav_button page_button">Create</button>
                </div>

                <div id="input_common" style="display: block" class="p_top p_left">
                    <label for="gene">Compared gene</label><br>
                    <select id="gene" name="gene">
                        <option value="(COI[GENE] OR COX1[GENE] OR cytochrome c oxidase subunit 1[Gene Name]) AND 400:800[SLEN]" {% if Gene == "(COI[GENE] OR COX1[GENE] OR cytochrome c oxidase subunit 1[Gene Name]) AND 400:800[SLEN]" %}selected{% endif %}>Animals, COI</option>
                        <option value="BRCA1[GENE] AND 1700:2000[SLEN]" {% if Gene == "BRCA1[GENE] AND 1700:2000[SLEN]" %}selected{% endif %}>Animals, BRCA1</option>
                        <option value="rbcL[GENE] AND 400:600[SLEN]" {% if Gene == "rbcL[GENE] AND 400:600[SLEN]" %}selected{% endif %}>Plants, rbcL</option>
                        <option value="matK[GENE] AND 400:600[SLEN]" {% if Gene == "matK[GENE] AND 400:600[SLEN]" %}selected{% endif %}>Plants, matK</option>
                        <option value="ITS1" {% if Gene == "ITS1" %}selected{% endif %}>Funghi, ITS1</option>
                        <option value="16s rRNA" {% if Gene == "16s rRNA" %}selected{% endif %}>Bacteria, 16s rRNA</option>
                    </select>
                    <br><br>
                    <label for="species" class="black_text small_text">Add organisms</label><br>
                    <input type="text" id="species" class="organism_input max_width input_box" name="species" placeholder="Organism">
                    <div class="side_to_side">
                    <button type="submit" name="add" class="nav_button page_button" id="add">Add</button>
                        <button type="submit" name="delete_org" class="nav_button page_button" formnovalidate>Del org</button>
                    <button type="submit" name="delete_all" class="nav_button page_button" formnovalidate>Del all</button>
                    </div>

                {% if organism_list  %}
                    <div class="p_top p_left">
                    <span class="title">| Species |</span>
                        <ul class="black_text">
                            {% for species_name in organism_list %}
                                <li class="small_text">{{ species_name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <button type="submit" name="create" class="nav_button page_button" formnovalidate>Create</button><br>
                {% endif %}
                </div>
                </form>
            <br>
            {% else %}
                <p>
                Can only be used when logged in!
                </p>
        {% endif %}

        <p class="black_text important red">
            {{ message }}
        </p>
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
    <script src="/static/javascript/create.js"></script>
{% endblock %}
