{% extends "main.html" %}

{% block content %}
    {% if login_status %}
<div class="home-boxes">
    <h1 class="title">
        Create
    </h1>
    <p>
        Create your tree here.
    </p>

    <img src="{{ url_for('static', filename='images/create/' + math) }}" class="create_image" alt="math photo" id="imgbox">

    <form method="POST" action="">

        <button type="submit" name="submit">Calculate!</button><br>
    </form>

    <br>

</div>
        {% else %}
        <div class="home-boxes">
            <p>
            Can only be used when logged in!
            </p>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='javascript/change_create.js') }}"></script>
{% endblock %}
