{% extends "main.html" %}

{% block content %}
<div class="side_to_side">
        <div class="home-boxes text_box">
            <h1 class="title">
                Welcome
            </h1><br>
            <p>
                Welcome to the Phylogenetic Tree Builder Website. This website can be used to create a phylogenetic tree for any type of species.
                The goal of this website is to make the Phylogenetic tree more accessible, also for people without an extensive bio-background. At the moment, in order to create a phylogenetic tree, you have to go through a lot of sites and apps before actually getting a tree.
                This site combines all these steps into one clear and easy to follow process.<br><br><br>
                The rest of this page contains some extra information about phylogenetic trees and some other important questions.
            </p>
        </div>
        <div class="home-boxes">
            <div class="image_box">
                <a href="https://www.researchgate.net/figure/Phylogenetic-tree-of-microorganisms-Sources-23_fig2_372253584" target="_blank">
                <img src="/static/images/Phylogenetic-tree-of-microorganisms.jpg" id="example_tree" alt="A Phylogenetic Tree" class="phylotree">
                </a>
                <p>
                    Phylogenetic tree of microorganisms.  |  Click for the reference
                <p>
            </div>
        </div>
    </div>
    <div class="side_to_side">
        <div class="home-boxes extra_q">
            <h2 class="title">
                What is a Phylogenetic Tree and why would I want one?
            </h2>
            <p>
                A Phylogenetic Tree is a powerful biological tool that can help show evolutionary relationships and history between different species.
                It is very useful when comparing different species or discovering new species. It can help answer questions such as:
                "To what species is this new unknown species related?", "What is the most recent ancestor to these two different species/" or even "To what extent are these seamingly similar species actually related?"
                Getting answers to these questions can help identify new diseases and help research into the right direction or help explain biological similarities or differences between species.
                When styled correctly it's easy to follow and understand, even for people without a background in Biology.
            </p>
            <h2 class="title">
                What is used to build these phylogenetic trees?
            </h2>
            <p>
                For more Information about the specific tools used u can navigate to the Tools page found at the top of the page
            </p>
            <h2 class="title">
                What will be added to the site in the Future?
            </h2>
            <p>
                At the moment it is only a static website with some information about the phylogenetic tree and tools to build it.
                In the future you can expect to see a fully functional tool able to build a phylogenetic tree.
            </p>
        </div>
    </div>
{% endblock %}