{% extends "main.html" %}

{% block content%}
<div class="side_to_side">
        <div class="home-boxes welcome">
            <h1>
                Tools
            </h1>

            <p>
                Here is some brief information about the tools used for our website.
                These include:
            </p>
                <ul>
                    <li><a href="https://biopython.org/" target="_blank">Biopython</a></li>
                    <li><a href="https://www.megasoftware.net/" target="_blank">MEGA cc</a></li>
                    <li><a href="https://etetoolkit.github.io/ete/" target="_blank">ETE4</a></li>
                </ul>
            <p>
                Biopython is used to handle our user input and request taxonomy data from the NCBI database.
                MEGA cc is used to align DNA sequences, compare them with each other, and create a phylogenetic tree based on this comparison.
                ETE4 is used to make and compare trees with a newick file as input.
            </p>

        </div>
        <div class="home-boxes">
            <img src="/static/images/Digital_tools.jpg" class="tool_image" alt="toolkit_image">
        </div>
    </div>

    <div class="side_to_side">
        <div class="home-boxes welcome">
            <h2 id="biopython">
                Biopython
            </h2>

            <p>
                Biopython is a tool designed for the language python. It can be used to retrieve information from NCBI. The user can specify the database, then add a search term. Biopython will then
                return all the results from the search term in the chosen database.<br><br>

                We use biopython to retrieve a specific gene in the mitochondrial DNA of species. When you fill in the name of an
                organism on this website, biopython will search NCBI for the gene sequence of that organism. All the organisms that you want to include in your phylogenetic tree will have this
                particular gene sequence and this sequence is used to compare the organisms.
            </p>

        </div>
        <div class="home-boxes">
            <img src="/static/images/Biopython_logo.png" class="tool_image" alt="toolkit_image">
        </div>
    </div>
     <div class="side_to_side">
        <div class="home-boxes welcome">
            <h2 id="megacc">
                Mega CC
            </h2>
            <p>
                Mega cc is used to align DNA sequences, compare them with each other, and create a phylogenetic tree based on this.
                In our case, it creates a file in newick format that contains data for a phylogenetic tree, which can then be read by ETE4.<br><br>
                It is very important to align the DNA sequences before comparing them, because this ensures that you are comparing homologous positions.
                A homologous position means that, from an evolutionary perspective, they come from the same area, so I am comparing the same genetic data from different sequences.
                If you do not align them, or do not align them properly, you may not be comparing the same genetic data, which can lead to errors in the phylogenetic tree.
            </p>

        </div>
        <div class="home-boxes">
            <img src="/static/images/01_mega_logo.svg.png" class="tool_image" alt="toolkit_image">
        </div>
    </div>
     <div class="side_to_side">
        <div class="home-boxes welcome">
            <h2 id="ete4">
                ETE4
            </h2>

            <p>
                ETE4 is used to create and visualize phylogenetic trees. We use visualization because MEGA cc already creates the newick file that we import into ETE4.
                ETE4 can retrieve taxonomy data from organisms, such as their kingdom, domain, class, order, etc.
                You can then visualize this data in ETE4 by rendering an image of the tree or by creating an interactive visualization on a web page using the built-in functions, smart-view, and explorer.<br><br>

                You can view the different nodes (junctions) of the tree and retrieve mutations with them.
                A phylogenetic tree shows the evolutionary relationships between species.
                If the branch lengths are based on genetic distance, you can also derive information about relative mutation rates.
            </p>

        </div>
        <div class="home-boxes">
            <img src="/static/images/ETE4_logo.png" class="tool_image" alt="toolkit_image">
        </div>
    </div>
{% endblock %}
